services:
  web:
    build:
      context: .
      dockerfile: docker/web.Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: test
      PORT: "3000"
      API_URL: http://api:3333
    healthcheck:
      test:
        ["CMD-SHELL", "wget -qO- http://127.0.0.1:3000 > /dev/null || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 30
    depends_on:
      api:
        condition: service_healthy

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    ports:
      - "3333:3333"
    environment:
      NODE_ENV: test
      PORT: "3333"
      DATABASE_URL: postgresql://prisma:prisma@postgres:5432/prisma_ci
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -qO- http://127.0.0.1:3333/health > /dev/null || exit 1",
        ]
      interval: 5s
      timeout: 3s
      retries: 30

  migrate:
    build:
      context: .
      dockerfile: docker/migrate.Dockerfile
    environment:
      DATABASE_URL: postgresql://prisma:prisma@postgres:5432/prisma_ci
    restart: no
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17
    container_name: prisma-db
    environment:
      POSTGRES_DB: prisma_ci
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U prisma -d prisma_ci"]
      interval: 5s
      timeout: 3s
      retries: 20
