services:
  db:
    image: postgres:17
    container_name: prisma-db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - prisma_pg_data:/var/lib/postgresql/

volumes:
  prisma_pg_data:
